<%= form_with(model: billing, class: "flex flex-col justify-center items-center gap-4 w-full", url: "/orders") do |form| %>
  <% if billing.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg w-full">
      <h2 class="font-semibold text-lg mb-2"><%= pluralize(billing.errors.count, "error") %> prohibited this billing from being saved:</h2>
      <ul class="list-disc pl-5">
        <% billing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= image_tag "mock_qr.png", alt: "QR Code", class: "my-3" %>
  </div>

  <div class="my-5">
        <%= form.label :slip, "อัพโหลดสลิป" %>
        <%= form.file_field :image, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="text-left text-black text-2xl font-semibold font-['Inter'] leading-[28.80px] w-full">
    กรอกที่อยู่จัดส่ง
  </div>

  <div class="flex flex-col gap-4 w-full">
    <div class="flex flex-col gap-2">
      <label for="fullname" class="text-[#1e1e1e] text-base font-normal font-['Inter'] leading-snug">
        ชื่อ - นามสกุล
      </label>
      <%= form.text_field :fullname, class: "px-4 py-3 bg-white rounded-lg border border-[#d9d9d9] w-full flex-grow text-base sm:text-sm lg:text-base font-normal font-['Inter'] leading-none outline-none" %>
    </div>

    <div class="flex flex-col gap-2">
      <label for="phone_number" class="text-[#1e1e1e] text-base font-normal font-['Inter'] leading-snug">
        โทรศัพท์
      </label>
      <%= form.text_field :phone_number, class: "px-4 py-3 bg-white rounded-lg border border-[#d9d9d9] w-full flex-grow text-base sm:text-sm lg:text-base font-normal font-['Inter'] leading-none outline-none" %>
    </div>

    <div class="flex flex-col gap-2">
      <label for="address" class="text-[#1e1e1e] text-base font-normal font-['Inter'] leading-snug">
        ที่อยู่
      </label>
      <%= form.text_area :address, class: "px-4 py-3 bg-white rounded-lg border border-[#d9d9d9] w-full flex-grow text-base sm:text-sm lg:text-base font-normal font-['Inter'] leading-snug outline-none" %>
    </div>
  </div>

  <%= form.hidden_field :total_price %>


  <div class="w-full flex justify-center items-center gap-4 mt-4">
    <%= link_to "กลับ", root_path, class: "grow shrink basis-0 h-[38px] px-4 py-2 rounded-full border border-[#eb221e] flex justify-center items-center gap-2.5 text-[#eb221e] text-base font-semibold font-['Inter'] leading-snug text-center" %>
    <%= form.submit "สั่งสินค้า", class: "grow shrink basis-0 h-[38px] px-4 py-2 bg-[#0455ad] text-white rounded-full flex justify-center items-center gap-2.5 text-base font-semibold font-['Inter'] leading-snug cursor-pointer text-center" %>
  </div>
<% end %>
