<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Fullname:</strong>
    <%= order.fullname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= order.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= order.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total price:</strong>
    <%= order.total_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Promotion:</strong>
    <%= order.promotion_id %>
  </p>

</div>
