
<div class="container sm:mx-auto mx-6">
  <%= render "order_detail"%>

  <% if alert %>
    <%= alert %>
  <% end %>
  <% if notice %>
    <%= notice %>
  <% end %>


  <%= render "total_price" %>
  <%= render "form", billing: @billing %>

  <!-- Conditionally render the popup if the success flash is set -->
  <% if flash[:success].present? %>
    <%= render 'popup' %>
  <% end %>
</div>
