<div class="container sm:mx-auto mx-6">
  <%= render "order_detail"%>
  <% if alert %>
    <%= alert %>
  <% end %>
  <% if notice %>
    <%= notice %>
  <% end %>
  
  <%= @products.inspect%>
  <%= @billing.total_price %>
  <%= render "form", billing: @billing %>
  <%= @p.inspect%>
</div>