<div id="<%= dom_id billing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Fullname:</strong>
    <%= billing.fullname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= billing.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= billing.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total price:</strong>
    <%= billing.total_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Promotion:</strong>
    <%= billing.promotion_id %>
  </p>

</div>
